<div *ngIf="!providerContent">
  <ul style="  list-style-type: none;">
    <li *ngFor=" let item of providerList;" style="">
      <h4 style="cursor:pointer"><a (click)="getNewsFromProvider(item)">{{item.name}}</a></h4>
    <li>
  </ul>
</div>
<div *ngIf="providerContent">
  <a (click)="resetProvider()" style="cursor:pointer">Back</a>
  <span style="font-weight: bold">{{providerName}}</span>
  <div *ngIf="providerName != 'hackerNews'">  
    <ul>
      <li *ngFor="let item of providerContent.articles;">
          <div>
            <span style="font-weight: bold">{{item.author}}</span> - 
            <span>{{item.publishedAt}}</span> - 
            <span>{{item.title}}</span> - 
            <span style="cursor:pointer"><a href="{{item.url}}" target="_blank">Link</a></span>
          </div>
      </li>
    </ul>
  </div>
  <div *ngIf="providerName == 'hackerNews'">
    <ul>
      <li *ngFor=" let item of providerContent;">
          <div>
            <div>
            <span style="font-weight: bold">{{item.by}}</span> - 
            <span>{{item.title}}</span> - 
            <span style="cursor:pointer"><a href="{{item.url}}" target="_blank">Link</a></span>
          </div>
          </div>
      </li>
    </ul>
  </div>
</div>

